
-
	dotInfo = [
		{
			dotNum: 1, 
			dotBeach: 'malibu beach', 
			dotCountry: 'usa',
			indicators: [
				{indicatorIcon: 'Surf-green.svg', indicatorIconName: 'surf',  indicatorData: '9 - 13', indicatorName: 'Surf (FT)'},
				{indicatorIcon: 'Water.svg',      indicatorIconName: 'water', indicatorData: '+2.3',   indicatorName: 'tide (FT)'},
				{indicatorIcon: 'Wind.svg',       indicatorIconName: 'wind',  indicatorData: '4 se',   indicatorName: 'wind (kts)'}
			]
		},
		{
			dotNum: 2, 
			dotBeach: 'airlie beach', 
			dotCountry: 'australia',
			indicators: [
				{indicatorIcon: 'Surf-green.svg', indicatorIconName: 'surf',  indicatorData: '9 - 13', indicatorName: 'Surf (FT)'},
				{indicatorIcon: 'Water.svg',      indicatorIconName: 'water', indicatorData: '+2.3',   indicatorName: 'tide (FT)'},
				{indicatorIcon: 'Wind.svg',       indicatorIconName: 'wind',  indicatorData: '4 se',   indicatorName: 'wind (kts)'}
			]
		},
		{
			dotNum: 3, 
			dotBeach: 'cloud nine', 
			dotCountry: 'philippines',
			indicators: [
				{indicatorIcon: 'Surf-green.svg', indicatorIconName: 'surf',  indicatorData: '9 - 13', indicatorName: 'Surf (FT)'},
				{indicatorIcon: 'Water.svg',      indicatorIconName: 'water', indicatorData: '+2.3',   indicatorName: 'tide (FT)'},
				{indicatorIcon: 'Wind.svg',       indicatorIconName: 'wind',  indicatorData: '4 se',   indicatorName: 'wind (kts)'}
			]
		},
		{
			dotNum: 4, 
			dotBeach: 'vieux boucau', 
			dotCountry: 'france',
			indicators: [
				{indicatorIcon: 'Surf-green.svg', indicatorIconName: 'surf',  indicatorData: '9 - 13', indicatorName: 'Surf (FT)'},
				{indicatorIcon: 'Water.svg',      indicatorIconName: 'water', indicatorData: '+2.3',   indicatorName: 'tide (FT)'},
				{indicatorIcon: 'Wind.svg',       indicatorIconName: 'wind',  indicatorData: '4 se',   indicatorName: 'wind (kts)'}
			]
		},
		{
			dotNum: 5, 
			dotBeach: 'malibu beach', 
			dotCountry: 'usa',
			indicators: [
				{indicatorIcon: 'Surf-green.svg', indicatorIconName: 'surf',  indicatorData: '9 - 13', indicatorName: 'Surf (FT)'},
				{indicatorIcon: 'Water.svg',      indicatorIconName: 'water', indicatorData: '+2.3',   indicatorName: 'tide (FT)'},
				{indicatorIcon: 'Wind.svg',       indicatorIconName: 'wind',  indicatorData: '4 se',   indicatorName: 'wind (kts)'}
			]
		},
		{
			dotNum: 6, 
			dotBeach: 'airlie beach', 
			dotCountry: 'australia',
			indicators: [
				{indicatorIcon: 'Surf-green.svg', indicatorIconName: 'surf',  indicatorData: '9 - 13', indicatorName: 'Surf (FT)'},
				{indicatorIcon: 'Water.svg',      indicatorIconName: 'water', indicatorData: '+2.3',   indicatorName: 'tide (FT)'},
				{indicatorIcon: 'Wind.svg',       indicatorIconName: 'wind',  indicatorData: '4 se',   indicatorName: 'wind (kts)'}
			]
		},
		{
			dotNum: 7, 
			dotBeach: 'cloud nine', 
			dotCountry: 'philippines',
			indicators: [
				{indicatorIcon: 'Surf-green.svg', indicatorIconName: 'surf',  indicatorData: '9 - 13', indicatorName: 'Surf (FT)'},
				{indicatorIcon: 'Water.svg',      indicatorIconName: 'water', indicatorData: '+2.3',   indicatorName: 'tide (FT)'},
				{indicatorIcon: 'Wind.svg',       indicatorIconName: 'wind',  indicatorData: '4 se',   indicatorName: 'wind (kts)'}
			]
		},
		{
			dotNum: 8, 
			dotBeach: 'vieux boucau', 
			dotCountry: 'france',
			indicators: [
				{indicatorIcon: 'Surf-green.svg', indicatorIconName: 'surf',  indicatorData: '9 - 13', indicatorName: 'Surf (FT)'},
				{indicatorIcon: 'Water.svg',      indicatorIconName: 'water', indicatorData: '+2.3',   indicatorName: 'tide (FT)'},
				{indicatorIcon: 'Wind.svg',       indicatorIconName: 'wind',  indicatorData: '4 se',   indicatorName: 'wind (kts)'}
			]
		},
	]

	locations = [
		{
			town: 'California', 
			country: 'USA'
		},
		{
			town: 'Queensland', 
			country: 'Australia'
		},
		{
			town: 'Siargao', 
			country: 'Philippines'
		},
		{
			town: 'Hossegor', 
			country: 'France'
		},
		{
			town: 'California', 
			country: 'USA'
		},
		{
			town: 'Queensland', 
			country: 'Australia'
		},
		{
			town: 'Siargao', 
			country: 'Philippines'
		},
		{
			town: 'Hossegor', 
			country: 'France'
		}
	]

	surfSlides = [
		{beach: 'malibu biach', country: 'California | USA',       img: 'slide-0.webp'},
		{beach: 'airlie biach', country: 'Queensland | Australia', img: 'slide-1.webp'},
		{beach: 'cloud nine',   country: 'Siargao | Philippines',  img: 'slide-2.webp'},
		{beach: 'vieux boucau', country: 'Hossegor | France',      img: 'slide-3.webp'},
		{beach: 'malibu biach', country: 'California | USA',       img: 'slide-0.webp'},
		{beach: 'airlie biach', country: 'Queensland | Australia', img: 'slide-1.webp'},
		{beach: 'cloud nine',   country: 'Siargao | Philippines',  img: 'slide-2.webp'},
		{beach: 'vieux boucau', country: 'Hossegor | France',      img: 'slide-3.webp'}
	]

section.surf

	h2.surf__title.title surf
	p.surf__backtitle.backtitle surf

	+location('current location', locations)

	.mobile 
		+sliderNav('surf__nav')

	.surf__map.map 
		img.map__img(src="img/Map-Dots.webp", alt="map")
		.map__dots
			each item in dotInfo
				div(class=`dot dot--${item.dotNum}`)
					.dot__animate
					.dot__info.dot-info
						.dot-info__pos
							h6.dot-info__beach #{item.dotBeach}
							p.dot-info__country #{item.dotCountry}
						.dot-info__indicators
							each elem in item.indicators 
								.indicator 
									img(class=`indicator__icon indicator__icon--${elem.indicatorIconName}` src="img/" + elem.indicatorIcon, alt="icon")
									p.indicator__data= elem.indicatorData
									p.indicator__name= elem.indicatorName
		.desktop
			+sliderNav('surf__nav')

	.swiper
		.swiper-wrapper
			each item in surfSlides
				.swiper-slide.surf-slide
					.surf-slide__name= item.beach
					.surf-slide__info= item.country
					img.surf-slide__img(src="img/" + item.img, alt= item.country)
					+surfView('surf', 'view', 'surf-slide__viewlink')

